
* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
a {
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.banner{
  color: white;
  background-image: url('media/positanobanner.jpg');
  height: 100px;
  vertical-align: middle;
}
#nav {
  background-color: lightblue;
  padding: 5px;
}
#nav a:link, #bottomNavLinks a:link {
  color:darkblue;
}
#nav a:hover, #bottomNavLinks a:hover {
  color:#ffffff;
  cursor: pointer;
}
#nav a:active {
  color:#f0f0f0;
  background-color:#00ff00;
}
main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url('media/vacation.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding-top: 140px;
}
section {
  margin-left: 12%;
  margin-right: 12%;
}
header h1, #nav {
  text-align: center;
}
div.polaroid {
  flex: 40%;
  margin: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  cursor: pointer;
}
div.locations {
  display: flex;
}
div.places {
  text-align: center;
  padding: 20px 20px;
  color: black;
}
#bottomNavLinks {
  color: black;
}
#footer {
  margin-top: 200px;
  color: black;
}
