<!DOCTYPE html>
<html>
  <head>
    <Title>
        Contact Us
    </Title>
    <link href="chi_style.css" rel="stylesheet" />
  </head>
  <body>
    <div id="header">
      <p><h1>About Us</h1></p>
    </div>

    <div id="body">
      <p>We are part of the SAIT Object Oriented Software Development Fall 2019 class.<br/> 
        Our page is dedicated to find you the a great vacation deal!</p><br/>
      <p><b>Team 6:</b><br/>Chi Luu<br/>Romit Sugathan<br/>Stephen</p><br/>
      <p><a href="/">Go Back to Home Page</a></p>
    </div>

    <div id="footer">
      <br />
      Copyright &copy; 2019 Melchi Travels
    </div>
  </body>
</html>
