<!DOCTYPE html>
<html>
  <head>
      <Title>
          Registration
      </Title>
  </head>
  <link href="chi_reg_style.css" rel="stylesheet" />
  <script type="text/javascript" src="chi_reg_style.js"></script>

  <body>
    <div class="form-area">
          <div id="header">
            <h1 style="color:red">REGISTER</h1>
          </div>
      
          <div id="body">
            <h3>Enter Your Info</h3>
            <br />
            <p><b class="required">*</b><i>Required</i></p>
            <form id="myform" method="post" action="/register">
                
                <label for="fname"><b class="required">*</b>First Name:</label><br />
                <input type="text" name="fname" id="fname"
                onfocus="focusText(this);" onblur="blurText(this);"></input>
                <span class="info"></span><br /><br />
      
                <label for="lname"><b class="required">*</b>Last Name:</label><br />
                <input type="text" name="lname" id="lname"
                onfocus="focusText(this);" onblur="blurText(this);"></input>
                <span class="info"></span><br /><br />
      
                <label for="addr"><b class="required">*</b>Address:</label><br />
                <input type="text" name="addr" id="addr"
                onfocus="focusText(this);" onblur="blurText(this);"></input>
                <span class="info"></span><br /><br />
      
                <label for="city"><b class="required">*</b>City:</label><br />
                <input type="text" name="city" id="city"
                onfocus="focusText(this);" onblur="blurText(this);"></input>
                <span class="info"></span><br /><br />
      
                <label for="prov"><b class="required">*</b>Province:</label><br />
                <select name="prov" id="prov"
                onfocus="focusText(this);" onblur="blurText(this);">
                    <option value="">Select a province</option>
                    <option value="AB">Alberta</option>
                    <option value="BC">British Columbia</option>
                    <option value="MN">Manitoba</option>
                    <option value="NS">Nova Scotia</option>
                    <option value="NT">Northwest Territories</option>
                    <option value="NU">Nunavut</option>
                    <option value="NL">Newfoundland and Labrador</option>
                    <option value="NB">New Brunswick</option>
                    <option value="ON">Ontario</option>
                    <option value="PE">Prince Edward Island</option>
                    <option value="QC">Quebec</option>
                    <option value="SK">Saskatchewan</option>
                    <option value="YT">Yukon</option>
                </select>
                <span class="info"></span><br /><br />
      
                <label for="pCode"><b class="required">*</b>Postal Code:</label><br />
                <input type="text" name="pCode" id="pCode"
                onfocus="focusText(this);" onblur="blurText(this);"></input>
                <span class="info"></span><br /><br />
      
                <label for="country">Country:</label><br />
                <input type="text" name="country" id="country"
                onfocus="focusText(this);" onblur="blurText(this);"></input>
                <span class="info"></span><br /><br />
                
                <label for="hPhone">Home Phone:</label><br />
                <input type="text" name="hPhone" id="hPhone"
                onfocus="focusText(this);" onblur="blurText(this);"></input>
                <span class="info"></span><br /><br />
      
                <label for="bPhone"><b class="required">*</b>Business Phone:</label><br />
                <input type="text" name="bPhone" id="bPhone"
                onfocus="focusText(this);" onblur="blurText(this);"></input>
                <span class="info"></span><br /><br />
      
                <label for="email"><b class="required">*</b>Email Address:</label><br />
                <input type="text" name="email" id="email"
                onfocus="focusText(this);" onblur="blurText(this);"></input>
                <span class="info"></span><br /><br />
      
                <input type="submit" name="submit" value="Register" onclick="return confirmchoice();" />
                <input type="reset" name="reset" value="Reset" onclick="return confirm('Are you sure you want to reset?')"/>
      
            </form>
           
            <br />
            <a href="/">Go Back to Home Page</a>
          </div>
      
          <div id="footer">
            <br />
            Copyright &copy; 2019 Melchi Travels
          </div>
    </div>
    
  </body>
</html>
