<!DOCTYPE html>
<html>
  <head>
      <Title>
          Registration
      </Title>
  </head>
  <link href="chi_reg_style.css" rel="stylesheet" />
  <script type="text/javascript" src="chi_reg_style.js"></script>

  <body>
    <div class="form-area">
          
      
          <div id="body">
            
           
            <br />
            <a href="/">Go Back to Home Page</a>
          </div>
      
          <div id="footer">
            <br />
            Copyright &copy; 2019 Melchi Travels
          </div>
    </div>
    
  </body>
</html>
