*{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url('../media/vacation.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

a {
  text-decoration: none;
}

.form-area {
  width: 60%;
  box-sizing: border-box;
  background: rgba(0,0,0,0.7);
  padding: 40px;
}

input[type='text'], select{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.info {
  visibility: hidden;
  width: 20%;
  font-size: 0.9em;
  color: red;
}
.required {
  color: red;
}

input[type="submit"], input[type="reset"] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover, input[type="reset"]:hover {
  background-color: #317935;
}