.map-logo {
    font-size: 4.5rem;
    color: #a83232;
}

.map-logo:hover {
    font-size: 4.5rem;
    color: #c07171;
}

.map-logo:active {
    font-size: 4.5rem;
    color: #a83232;
}

.btn-contact {
    height: 7rem;
    width: 14rem;
    background: url(./contact.jpg) no-repeat center;
    background-size: cover;
    color: white;
    margin: .5rem;
}

.btn-register {
    height: 7rem;
    width: 14rem;
    background: url(./register.jpg) no-repeat center;
    background-size: cover;
    color: white;
    margin: .5rem;
}

.card-intro {
    margin-bottom: 2rem;
}

.container-img-grid {
    margin-bottom: 2rem;
}

.nav-item {
    margin-left: 2rem;
}

.card-outro {
    margin-top: 2rem;
}

.main-section-bg {
    /* background: url(./Images/background-suitcase.jpg) no-repeat left;
    background-size: cover; */
    padding: 1rem;
    position: relative;
    /* opacity: 10%; */
}

.main-section-bg::after {
    content: "";
    display: block;
    background: url(./background-suitcase.jpg) no-repeat  -10px;
    background-size: cover;
    /* padding: 1rem; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: -1;
    /* opacity: 10%; */
}

.array-img {
    width: 50vw;
    /* height: 100%; */
}

.img-table-td {
    background-size: contain;
    width: 50vw;
    /* height: 40%; */
}

.section-img-array .img-table-row .desc-table-td {
    vertical-align: middle !important; 
    margin: auto;
}
/* 
.desc-table-td-p {
 vertical-align: middle;
}

td {
    vertical-align: middle;
} */
/* 
.img-table-row {
    width: 10vw;
} */

